# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Flask cache
instance/

# VS Code
.vscode/

# Database
*.db

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
